In [1]:
import pandas as pd
import numpy as np
import os

trainFile = "C:/DS/titanic/train.csv"
testFile = "C:/DS/titanic/test.csv"

pwd = os.getcwd()
os.chdir(os.path.dirname(trainFile))
trainData = pd.read_csv(os.path.basename(trainFile))
os.chdir(pwd)

oldestMaleSurDF=trainData.query("Survived==1 and Sex=='male'").sort_values('Age', ascending=False).head(1)


oldestMaleSurAge=oldestMaleSurDF.iloc[0]['Age']
print(oldestMaleSurAge)

trainData.loc[trainData['Age'] == oldestMaleSurAge]

80.0

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0,A23,S