In [1]:
import pandas as pd
import numpy as np
import os

trainFile = "C:/DS/titanic/train.csv"
testFile = "C:/DS/titanic/test.csv"

pwd = os.getcwd()
os.chdir(os.path.dirname(trainFile))
trainData = pd.read_csv(os.path.basename(trainFile))
os.chdir(pwd)

youngestFemSurDF=trainData.query("Survived==1 and Sex=='female'").sort_values('Age', ascending=True).head(1)


youngestFemSurAge=youngestFemSurDF.iloc[0]['Age']
print(youngestFemSurAge)

trainData.loc[trainData['Age'] == youngestFemSurAge]

0.75

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
469,470,1,3,"Baclini, Miss. Helene Barbara",female,0.75,2,1,2666,19.2583,NaN,C
644,645,1,3,"Baclini, Miss. Eugenie",female,0.75,2,1,2666,19.2583,NaN,C